.container-fluid{
	margin-top: 10px;
}
.content{
	margin-top: 20px;
}
.heatmap{
	padding-top:20px;
	
}

center {
	margin-top: 20px;
	margin-bottom: 20px;
}

.week-table table{
	
	width: 600px;
}

.sort-table{
	width: 600px;
}
.back {
	height: 50px;
}
.backbtn{
	float: right;
	margin-right: 100px;
	margin-top: 10px;
}