.heatmap{
	padding-top:20px;
	margin-left: 240px;
}

#hist{
	margin-left: 20px;
}
.week-table table{
	margin-left:80px;
	width: 700px;
}
.week-table h4{
	margin-left: 30px; 
}
.sort-table{
	margin-left: 80px;
}